/***************************************************************
CSS Reset
***************************************************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;

}



/***************************************************************
Base Rules
***************************************************************/
h1{
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-weight: 700;
}

p1{
    font-size: 0.5rem;
    color: gray;
    font-weight: 400;
}
h2{
    font-size: 1rem;
    color: black;
    font-weight: 600;
}
p{
    font-size: 0.75rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0.5rem;
}
p2{
    font-size: 1rem;
    font-weight: 400;
    display: block;
    padding-bottom: 3rem;
}

h3{
    font-size: 2rem;
    font-weight: 800;
}
h4{
    font-size: 2.8rem;
    font-weight: 800;
}
th, td{
    padding: 0.3rem !important;
}

/***************************************************************
Layout Rules
***************************************************************/
.wrap{
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}
.container{
    max-width: 45rem;
}
.aboutus{
    text-align: center;
}
.products{
    text-align:center;
    padding: 2rem;
}
.price{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.price span:nth-of-type(2){
    margin-top: auto;
}
.features{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.companies{
   text-align: center;
   padding-bottom: 5rem;
   padding-top: 5rem;
}
.companies img{
    max-width:30rem;
    width: 100%;
}
.plans{
    text-align: center;
}
.table-bordered{
    border-color: #d4d4d7;
    border-width: 0.1rem;
}
.plans h2{
    text-align: start;
    padding-top: 1.25rem;
    padding-bottom: 0.75rem;
}
.table p{
    color:  gray;
}
.row .col-sm-4 p,.row .col-12 p{
text-align: start!important;
padding-left: 1rem;
}


/**************************************************************
Components
**************************************************************/
.navbar-brand img{
    height: 30px;
    width: auto;
}
.dropdown-menu{
    width: 30rem;
}


.submenu li {
    padding: 0.4rem;
}
.submenu-icon{
    padding-left: 2.5rem;
    margin-top: -1.7rem;
}
.submenu-btn{
    background-color: #f6f6f7;
    padding-left: 0;
    padding-right: 0;
    width: 95%;
    margin-left: 0.9rem;
}









/***********************************************************
Media queries
***********************************************************/
@media only screen and (max-width:575px){
    .submenu li{
        border-bottom: 0.2px 
    }
    .nav-item {
        border-bottom: 0.1rem solid #d4d4d7;
    }
    .dropdown-item{
        border-bottom: 0.1rem solid #d4d4d7;
    }
    .dropdown-item small{
        display:none;
    }
    .dropdown-menu{
        border: 0;
    }
    .submenu i{
        visibility: hidden;
    }
    .submenu-icon{
        border: 0.1rem solid #d4d4d7;
        border-radius: 2rem;
      }
}
@media only screen and (min-width:576px){
    .row .col-12{
        border-left: 0;
    }
}